{{#bs-navbar}}
  <div class="navbar-header">
    {{#bs-navbar-toggle}}
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    {{/bs-navbar-toggle}}
    {{#link-to "insights" class="navbar-brand"}}Smartkarma{{/link-to}}
  </div>

  {{#bs-navbar-content}}
    {{#bs-navbar-nav}}
    {{/bs-navbar-nav}}
  {{/bs-navbar-content}}
{{/bs-navbar}}

<!-- Main Content -->
{{outlet}}

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; Smartkarma 2016</p>
      </div>
    </div>
  </div>
</footer>
